@import 'styles/colors.scss';

.cardContainer {
  overflow: hidden;

  margin: 1.5rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  padding: 0;

  .animationContainer {
    width: 970px;
    height: 500px;

    background-color: $white;
  }

  .playerButton {
    margin-left: 1rem;
  }

  .legendContainer {
    margin-left: 2rem;
    padding: 1rem;

    .colorPreview {
      margin-right: 0.3rem;
      border-radius: 0.3rem;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}
