@import 'styles/mixins.scss';
@import 'styles/colors.scss';

.footerContainer {
  @include flex(center, center);
  flex-shrink: 0;

  margin: 1.5rem 0 0 0;
  bottom: 0;
  padding: 0;
  width: 100vw;
  height: 4rem;
  padding: 0 1.5rem;

  color: $white;
}
