@import 'styles/mixins.scss';

.barsContainer {
  position: relative;
  @include flex(center, flex-end, row);

  overflow: hidden;

  height: 500px;

  list-style: none;

  li {
    margin: 0 0 10px 15px;
    border-radius: 8px;
    width: 35px;
    padding: 10px 0;
  }
}
